.App {
  text-align: center;
  font-size: medium;
}

body {
  background-color: #ffdae0;
  color: red;
  font-family: 'Raleway', sans-serif;
}

.body-div {
  padding: 1em;
}

.gnome-pic-div img {
  width: 27em;
}

.gnome-pic-div {
  margin-top: 12em;
  margin-bottom: 1.2em;
}

h1 {
  font-family: 'Bree Serif', serif;
  color: red;
  font-weight: 300;
  font-size: 4em;
}

h2 {
  font-family: 'Bree Serif', serif;
  color: red;
}

h3 {
  font-family: 'Bree Serif', serif;
  color: red;
}

.form-div {
  width: 20em;
  margin: auto;
}

.url-field {
  font-family: 'Raleway', sans-serif;
  color: red;
  border: 2px solid red;
  border-radius: 6px;
  font-size: 1.2em;
  width: 80%;
  padding: 12px;
  margin-top: 1em;
}

.submit-button {
  font-family: 'Bree Serif', serif;
  border-radius: 6px;
  font-size: 1.2em;
  color: white;
  width: 100%;
  background-color: red;
  padding: 12px;
  margin-top: 1em;
}

.submit-button:hover {
  cursor: pointer;
  color: pink;
}

.grid-parent {
  text-align: left;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list {
  margin: auto;
  width: 35%;
  padding: .5%;
  padding-bottom: 2.5%;
}
