.App {
  text-align: center;
  font-size: medium;
  font-family: 'Open Sans', sans-serif;
  border-top: 5px solid #9D4942;
}

.body-div {
  padding: 1em;
}

.gnome-pic-div img {
  width: 27em;
}

.gnome-pic-div {
  margin-top: 12em;
  margin-bottom: 1.2em;
}

h1 {
  color: #43556A;
  font-weight: 300;
}

.form-div {
  width: 20em;
  margin: auto;
}

.url-field {
  border: 1px solid #D8DDE1;
  border-radius: 6px;
  font-size: 1.2em;
  color: #999999;
  width: 100%;
  background-color: #FBFBFB;
  padding: 12px;
  margin-bottom: 2em;
}

.submit-button {
  border: 1px solid #6D322E;
  border-radius: 6px;
  font-size: 1.2em;
  color: white;
  width: 108%;
  background-color: #9D4942;
  padding: 12px;
}

ul {
  margin-top: 3em;
  list-style-type: none;
  font-size: 1.2em;
  color: #999999;
  font-weight: bold;
}

li {
  display: inline-block;
  margin-left: 1.2em;
}

.gnomify-link {
  color: #9D4942;
  font-weight: 600;
}

.active-link {
  color: #43556A;
  font-weight: 600;
}

.hat-img {
  width: 1.2em;
}
